@font-face {
  font-family: "Pixel";
  src: url("./assets/Retro\ Gaming.ttf");
}

* {
  font-family: "Pixel";
  font-weight: bold;
}
.background{
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  background-color: #114486;
  height: 50px;
}

.oneplayer-list{
  position: absolute;
  top: 300px;
  left: 575px;
  color: purple;
  background-color: white;
  list-style: none;
}

.navbar-list{
  color: white
}

.sidebar{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50px;
  list-style: none;
}

.sidebar-list{
  margin-top: 100px;
}

.free{
    position: absolute;
    top: 300px;
    left: 575px;
    color: purple;
    background-color: white;
    list-style: none;
}